/* background */
& .bg__960e4 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--background-image) !important;
    background-position: var(--background-image-position, center) !important;
    background-size: var(--background-image-size, cover) !important;

    &::before {
        content: '';
        position: absolute;
        top: calc(var(--window-padding) + 22px) !important;
        right: var(--window-padding) !important;
        bottom: var(--window-padding) !important;
        left: var(--window-padding) !important;
        border-radius: var(--window-roundness) !important;
        backdrop-filter: blur(var(--background-image-blur)) !important;
        box-shadow: inset 0 0 0 100vmax var(--tint) !important;
        display: var(--background-blur-visiblity, block) !important;
    }
}