/* main chat panel */
/* note: large comment blocks are for low-performant features */

.chat_f75fb0 {
    border: none;
    background: rgb(0, 0, 0, var(--middle-brightness)) !important;
}

.emoji {
    filter: drop-shadow(0 0 1.5px white);
}

.divider__5126c.isUnread__908e2 {
    justify-content: space-between;

    border: none !important;

    & .unreadPill__908e2 {
        left: 0.5rem;
        top: -0.75rem;

        /* height: fit-content; */
        padding: 0.75rem;
        margin-inline: 3rem;

        border-radius: 9999px;

        background-color: rgb(from var(--divider-color) r g b / 0.2);
        box-shadow: inset 0 0 0.5rem var(--divider-color);
        backdrop-filter: blur(var(--blur-radius));

        font-size: 0.875rem;
        text-align: center;
        color: var(--divider-color);

        &::before,
        &::after {
            content: "~";
            margin-inline: 0.25rem;
        }

        & .unreadPillCap__908e2 {
            display: none;
        }
    }

    &::before,
    &::after {
        content: "<=>";
        margin-inline: 2.9rem 2.5rem;

        font-weight: 900;
        color: var(--divider-color);
    }
}

.chatContent_f75fb0 {
    background: transparent;
}

/* text shadow for usernames in chat */
.username_c19a55.usernameColorOnName_c19a55 {
    text-shadow: -1px 1px white;
}
/* text shadow for usernames in sidebar */
.username__07f91 {
    text-shadow: 
        1px 0.5px rgb(from mediumorchid r g b / 0.7),
        -1px -1px rgb(from mediumorchid r g b / 0.7)
    ;
    color: mistyrose !important;
}

.messageListItem__5126c:hover > .message__5126c {
    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(var(--blur-radius-h)) !important;
    border-left: 0.1rem solid var(--inset-shadow-h) !important;
    border-right: 0.1rem solid var(--inset-shadow-h) !important;

    box-shadow: 
        var(--bs-inset-t-h),
        var(--bs-inset-r-h),
        var(--bs-inset-b-h),
        var(--bs-inset-l-h),
        var(--bs-tl-h),
        var(--bs-t-h),
        var(--bs-tr-h),
        var(--bs-r-h),
        var(--bs-br-h),
        var(--bs-b-h),
        var(--bs-bl-h),
        var(--bs-l-h)
    ;

    transform: scale(var(--msg-hover-scale));

    z-index: 100;

    & > .contents_c19a55,
    & > .container_b7e1cb {
        transition: all var(--shadow-transition-delay) ease-out !important;
        /* transition: all var(--shadow-transition-delay) ease-in !important; */ /* i love this but i cant */
    }
}

.message__5126c {
    /* common message settings */
    /* background: transparent !important; */
    text-transform: none !important;
    background: rgba(60, 60, 60, 0.6);
    backdrop-filter: blur(var(--blur-radius)) !important;

    border-left: 0.1rem solid var(--inset-shadow-base) !important;
    border-right: 0.1rem solid var(--inset-shadow-base) !important;
    border-radius: 0.5rem;

    margin-top: var(--m-m-t) !important;
    margin-right: var(--m-m-r) !important;
    margin-bottom: var(--m-m-b) !important;
    margin-left: var(--m-m-l) !important;

    padding-top: var(--m-p-t) !important;
    padding-right: var(--m-p-r) !important;
    padding-bottom: var(--m-p-b) !important;
    padding-left: var(--m-p-l) !important;

    box-shadow: 
        var(--bs-inset-t),
        var(--bs-inset-r),
        var(--bs-inset-b),
        var(--bs-inset-l),
        var(--bs-tl),
        var(--bs-t),
        var(--bs-tr),
        var(--bs-r),
        var(--bs-br),
        var(--bs-b),
        var(--bs-bl),
        var(--bs-l)
    ;

    transition: 
        all var(--shadow-transition-delay) ease-out, 
        transform var(--shadow-transition-delay) cubic-bezier(0.25, 3, 1, 1) 
    !important;

    & > .contents_c19a55,
    & > .container_b7e1cb {
        transition: all var(--shadow-transition-delay) ease-out !important;
        /* transition: all var(--shadow-transition-delay) ease-in !important; */ /* i love this but i cant */
    }

    &.mentioned__5126c {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:before {
            background: transparent;
            width: 0;

            border: 0.125rem solid var(--icon-feedback-warning) !important;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }
    }
}

.groupStart__5126c {
    /* always the top message in the stack */
    border-top: 0.1rem solid var(--inset-shadow-base) !important;

    margin-top: var(--mt-m-t) !important;
    margin-right: var(--mt-m-r) !important;
    margin-bottom: var(--mt-m-b) !important;
    margin-left: var(--mt-m-l) !important;

    padding-top: var(--mt-p-t) !important;
    padding-right: var(--mt-p-r) !important;
    padding-bottom: var(--mt-p-b) !important;
    padding-left: var(--mt-p-l) !important;

    &:hover {
        border-top: 0.1rem solid var(--inset-shadow-h) !important;
    }
}

.message__5126c:not(.groupStart__5126c) {
    /* middle messages */
    margin-top: var(--mm-m-t) !important;
    margin-right: var(--mm-m-r) !important;
    margin-bottom: var(--mm-m-b) !important;
    margin-left: var(--mm-m-l) !important;
    padding-top: var(--mm-p-t) !important;
    padding-right: var(--mm-p-r) !important;
    padding-bottom: var(--mm-p-b) !important;
    padding-left: var(--mm-p-l) !important;
}

.chatGradient__36d07 {
    display: none;
}


@keyframes blink {
    0%, 100% {
        opacity: 85%;
    }
    50% {
        opacity: 35%;
    }
}

@keyframes from-me-x {
    0% {
        transform: translateX(1.5rem) scale(95%, 100%);
        animation-timing-function: ease-in;
        transform-origin: 100%;
    }
    100% {
        transform: translateX(0px)
    }
}
@keyframes from-me-y {
    0% {
        opacity: 0%;
        transform: translateY(1.5rem);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes from-others-x {
    0% {
        transform: translateX(-1.5rem) scale(95%, 100%);
        animation-timing-function: ease-in;
        transform-origin: 0%;
    }
    100% {
        transform: translateX(0px)
    }
}
@keyframes from-others-y {
    0% {
        opacity: 0%;
        transform: translateY(-1.5rem);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes from-same {
    0% {
        opacity: 0%;
        transform: translateY(-100%);
        z-index: -10;
    }
    99% {
        z-index: 0;
    }
    100% {
        
    }
}