/* server list */
.guilds__5e434 {
    padding-top: 1rem;
}

.wrapper__58105 {
    & > .item__58105 {
        /* WIP */
        /* background: transparent; */
        /* background-clip: padding-box;
        /* border: 0.1rem solid white; */

        /* mask-image: radial-gradient(circle, black 100%);
        mask-composite: subtract;
        mask-mode: white; */
    }
}